*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}
:root{
    --primary-dark-gtek:#02000a;
    --primary-red-gtek:#EC0000;
    --primary-white-gtek:#B6B6B6;
}
body{
    overflow-x: hidden;
}