ul.navigator{
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 7px 50px;
    list-style: none;
    background-color: var(--primary-dark-gtek);
    border-top:1px solid #535353;
}
ul.navigator li i{
    color: white;

}

ul.navigator li a{
    color: white;
    text-decoration: none;
    padding: 11px 13px;
    font-family: 'Poppins',sans-serif;
    border-right: 1px solid #535353;
    text-transform: capitalize;
}
ul.navigator li:first-child a{
    border-left: 1px solid #535353;
    border-right: 1px solid #535353;
    padding: 8px 15px;
    font-size: 20px;
    
}
ul.navigator li a:hover,ul.navigator li a:hover i{
    color: var(--primary-dark-gtek) !important;
    background-color:var(--primary-white-gtek) ;
}
ul.navigator li.marque{
    position: relative;
}
ul.navigator li.marque div{
    position: absolute;
    display: flex !important;
    flex-direction: column;
    background-color: var(--primary-dark-gtek);
    top: 15px;
    left: -1px;
    list-style: none;
    z-index: -7;
}

ul.navigator li.marque div a{
    color: white;
    text-decoration: none;
    padding: 10px  104px 10px 10px !important;
    border: none;
    text-transform: capitalize;
}
ul.navigator li.marque:hover div{
    z-index: 109;
}

ul.navigator li:last-child{
    margin-left: auto;
}
ul.navigator li:last-child a{
    padding: 11px 20px !important;
    border-left: 1px solid #535353;
}
ul.navigator li:last-child i{
    color: white;
    font-size: 20px;
}

