section.promotion{
    height: 100vh;
    background-color: var(--primary-dark-gtek);
    padding: 120px 225px;
}
section.promotion h1{
    color: var(--primary-red-gtek);
    font-family: 'Poppins',sans-serif;
    font-size: 50px !important;
    margin-bottom: 30px;
    
}
section.promotion .title-sec{
    width:fit-content;
    margin: 0 auto;
    position: relative;
}
section.promotion .title-sec span{
    position: absolute;
}
section.promotion .title-sec span.top{
    width: 130%;
    background-color: var(--primary-red-gtek);
    height: 2px;
    position: absolute;
    top: 0;
    left: 13px;
}
section.promotion .title-sec span.right{
    height: 125%;
    background-color: var(--primary-red-gtek);
    width: 2px;
    position: absolute;
    bottom: 0;
    right: -8px;
}
section.promotion .title-sec span.bot{
    width: 130%;
    background-color: var(--primary-red-gtek);
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 13px;
}
section.promotion .title-sec span.left{
    height: 125%;
    background-color: var(--primary-red-gtek);
    width: 2px;
    position: absolute;
    top: 0;
    left: -8px;
}
#news-slider{
    margin-top: 80px;
}
.post-slide{
    background: #fff;
    margin: 20px 15px 20px;
}
.post-slide:hover .post-img {
    background-size: 300px;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    transition: all .5s ease-in;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: #EC00004F;
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.post-slide .post-content{
    background:#fff;
    padding: 2px 20px 40px;
    border-radius: 15px;

}
.post-slide .post-title{
    min-height: 58px !important;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins',sans-serif;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:var(--primary-red-gtek);
}
.post-slide .post-description{
    line-height:24px;
    color:#808080;
    margin-bottom:25px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 195px;
    white-space: wrap;
}
.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
    text-decoration: line-through;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: var(--primary-red-gtek);
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px var(--primary-red-gtek);
    border-radius: 25px;
    text-transform: uppercase;
}
.post-slide .read-more:hover{
    background: var(--primary-dark-gtek);
    text-decoration:none;
    color:#fff;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top:-13%;
    left:15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top:-13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #333;
    font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
}
.owl-carousel button.owl-dot{
    display: none;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    padding: 20px !important;
    margin: 0 100px;
    color: var(--primary-red-gtek) !important;
    font-size: 133px !important;
    height: 67px !important;
    width: 46px !important;
    border-radius: 51px;
    position: absolute;
}
.owl-carousel .owl-nav button.owl-prev{
    top: 200px;
    left: -200px;
}
.owl-carousel .owl-nav button.owl-next{
    top: 200px;
    right: -200px;
}